.tobeornot_counter {
    display:block;
}
.tobeornot_counter--message {
    color: #1478AB;
}

.tobeornot_voter {
    width: 100%;
    border: 1px solid #000;
    padding: 20px;
}
.tobeornot_voter--button {
    display: inline-block;
    width: 49%;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 1s ease-out 0.1s;
    -moz-transition: all 1s ease-out 0.1s;
    -o-transition: all 1s ease-out 0.1s;
    transition: all 1s ease-out 0.1s;
}
.active .tobeornot_voter--button-true {
    background-color: rgba(39,146,112,.4);
    cursor: pointer;
}
.active .tobeornot_voter--button-true:hover {
    background-color: rgba(39,146,112,1);
}
.active .tobeornot_voter--button-false {
    background-color: rgba(158,11,23,.4);
    cursor: pointer;
}
.active .tobeornot_voter--button-false:hover{
    background-color: rgba(158,11,23,1);
}
.tobeornot_voter--button-true,
.tobeornot_voter--button-false {
    background-color: rgba(64,64,64,.2);
}
.tobeornot_voter--button-true.selected,
.tobeornot_voter--button-false.selected {
    background-color: rgb(64,64,64);
}
